<ActionBar class="action-bar" width="100%">
  <GridLayout columns="auto,*,auto" rows="*" width="100%">
    <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" text="&#xf060;" fontFamily="FontAwesome">
    </Button>
    <Label row="0" col="1" class="action-bar-title" [text]="'Sales Invoice'" horizontalAlignment="left"></Label>

    <Button row="0" col="2" class="button" textAlignment="center" text="Save">
    </Button>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout margin="10">

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">
        <Label color="#59595B" text="Customer Name"></Label>

        <StackLayout orientation="horizontal">
          <DropDown #dd backroundColor="red" width="95%" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          <Label text="&#xf067;" color="#428ECB" fontFamily="FontAwesome" verticalAlignment="center"></Label>
        </StackLayout>

        <StackLayout class="hr-light"></StackLayout>

        <Button backgroundColor="white" color="#478ECB" text="Add Entry Against Cash/Bank" width="100%"></Button>
        <Label text="will be used in invoice" textWrap="true"></Label>

        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">
        <StackLayout orientation="horizontal" margin="5">

          <StackLayout width="50%">
            <Label color="#59595B" text="Country"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Invoice Number"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>
        </StackLayout>

        <StackLayout orientation="horizontal" margin="5">
          <StackLayout width="50%">
            <Label color="#59595B" text="Date"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Due"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">
        <StackLayout>
          <Label text="Billing Address" textWrap="true"></Label>
          <TextField hint="Text" text=""></TextField>
        </StackLayout>


        <StackLayout orientation="horizontal">
          <StackLayout width="50%">
            <Label color="#59595B" text="Date"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Due"></Label>
            <DropDown backroundColor="red" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <StackLayout orientation="horizontal">
          <Label text="&#xf067;" color="#428ECB" fontFamily="FontAwesome" verticalAlignment="center"></Label>
          <Label text="Add Stock" [nsRouterLink]="['/add-stock']" color="#4290D5" fontSize="16" textWrap="true"></Label>
        </StackLayout>

        <FlexboxLayout justifyContent="space-between">
          <Label text="Subtotal" textWrap="true"></Label>
          <Label text="0000" textWrap="true"></Label>
        </FlexboxLayout>

        <FlexboxLayout justifyContent="space-between">
          <Label text="Discount" textWrap="true"></Label>
          <Label text="000" textWrap="true"></Label>
        </FlexboxLayout>

        <FlexboxLayout justifyContent="space-between">
          <Label text="Deposit" textWrap="true"></Label>
          <Label text="000" textWrap="true"></Label>
        </FlexboxLayout>

        <FlexboxLayout justifyContent="space-between">
          <Label text="Balance Due" textWrap="true"></Label>
          <Label text="0000" textWrap="true"></Label>
        </FlexboxLayout>

      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">
        <StackLayout>
          <Label text="Footer Note" color="#59595B" textWrap="true"></Label>
          <TextField hint="Thanks for your business" text=""></TextField>
        </StackLayout>

      </StackLayout>
    </CardView>

  </StackLayout>
</ScrollView>
