<ActionBar class="action-bar" width="100%">
  <GridLayout columns="auto,*,auto" rows="*" width="100%">
    <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" text="&#xf060;" fontFamily="FontAwesome">
    </Button>
    <Label row="0" col="1" class="action-bar-title" [text]="'Sales Invoice'" horizontalAlignment="left"></Label>

    <Button row="0" col="2" class="button" textAlignment="center" text="Save">
    </Button>
  </GridLayout>
</ActionBar>

<FlexboxLayout flexDirection="column">
  <Label row="0" col="1" class="action-bar-title" [text]="'Sales Invoice'" horizontalAlignment="center"></Label>
</FlexboxLayout>
