<ActionBar class="action-bar" width="100%">
    <!--
      Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton visibility="hidden" ></NavigationButton>
  
      <GridLayout verticalAlignment="center"  columns="50,*" rows="*" width="100%" class="actionbar-grid">
          <Button row="0" col="0" class="button" textAlignment="left" text="&#xe91b;"
                  fontFamily="GiddhIconFonts"
                  (tap)="onDrawerButtonTap()">
          </Button>
  
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton> -->
    <!--
      Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
      -->
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem> -->
    <Label class="action-bar-title" verticalAlignment="center" row="0" col="1" [text]="'Dashboard'"></Label>
    </GridLayout>
  </ActionBar>
  
  
  <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
      Use the tkDrawerContent directive to display the content of the app drawer on this page.
      -->
    <StackLayout tkDrawerContent>
      <MyDrawer [pages]="navItemObj$ | async"></MyDrawer>
    </StackLayout>
    <ScrollView tkMainContent>
      <StackLayout padding="10 6">
        <CardView class="gen-card-style" elevation="6" radius="1" ns-revenue-chart>
        </CardView>
  
        <CardView class="gen-card-style" elevation="6" radius="1" ns-expenses-chart>
        </CardView>
  
      </StackLayout>
    </ScrollView>
  </RadSideDrawer>
  