<ScrollView>
  <StackLayout margin="10" [formGroup]="addAccountForm">

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <Label color="#59595B" text="Account Name"></Label>
        <TextField hint="Dummy Name" formControlName="name" text="" verticalAlignment="bottom"></TextField>

        <StackLayout orientation="horizontal" marginTop="5">

          <StackLayout width="50%">
            <Label color="#59595B" text="Parent Group"></Label>
            <DropDown backroundColor="red" marginTop="15" [hint]="'Select'" [items]='flatAccountWGroupsList' verticalAlignment="center"
              formControlName="parentGroupUniqueName" name="parentGroupUniqueName" (selectedIndexChanged)="onchange($event)"></DropDown>
          </StackLayout>

          <StackLayout width="50%" formGroupName="country">
            <Label color="#59595B" text="Country"></Label>
            <DropDown backroundColor="red" formControlName="countryCode" marginTop="15" [hint]="'Select'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>

        </StackLayout>

      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <Label color="#59595B" text="Attention to (will be used in invoice)"></Label>
        <TextField hint="wiil be used in invoice" formControlName="attentionTo" text="" verticalAlignment="bottom"></TextField>

        <StackLayout orientation="horizontal" marginTop="5">
          <StackLayout width="50%">
            <Label color="#59595B" text="Opening Balance"></Label>
            <TextField hint="1000.00" text="" formControlName="openingBalance" verticalAlignment="bottom"></TextField>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Currency"></Label>
            <DropDown backroundColor="red" marginTop="15" formControlName="currency" [hint]="'INR-India'" [items]='[1,2,3,4]' verticalAlignment="center"></DropDown>
          </StackLayout>
        </StackLayout>

      </StackLayout>
    </CardView>

    <CardView margin="5" elevation="10" radius="1">
      <StackLayout margin="5">

        <StackLayout orientation="horizontal" marginTop="5">
          <StackLayout width="50%">
            <Label color="#59595B" text="Mobile Number"></Label>
            <TextField hint="1000.00" formControlName="mobileNo" text="" verticalAlignment="bottom"></TextField>
          </StackLayout>

          <StackLayout width="50%">
            <Label color="#59595B" text="Email ID"></Label>
            <TextField hint="1000.00" formControlName="email" text="" verticalAlignment="bottom"></TextField>
          </StackLayout>
        </StackLayout>

        <Label color="#59595B" text="Description"></Label>
        <TextField hint="Dummy Data" formControlName="description" text="" verticalAlignment="bottom"></TextField>


      </StackLayout>
    </CardView>


  </StackLayout>
</ScrollView>
