ActionBar {
  background-color: #2b2766;
}

.left {
  float: left;
}

.action-image {
  width: 40;
  height: 40;
  vertical-align: center;
}

.action-label {
  color: #3C5AFD;
  font-size: 24;
  font-weight: bold;
  vertical-align: center;
}

.button {
  background-color: #2b2766;
  color: white;
  box-shadow: 0;
}

.b-button {
  color: #2b2766;
  border-color: rgb(250, 190, 190);
  border-style: solid;
  border-width: 2pt;
  margin: 5pt;
  background-color: #fff;
}
