.login,
.page {
  background-color: rgb(0, 169, 157);
}

.login #logo {
  margin-top: 13%;
}

.page {
  margin: 0 5%;
}

.form {
  margin-top: 10%;
}

.btn {
  background-color: rgb(154, 214, 208);
  color: rgb(40, 40, 90);
  margin: 0;
}

.font {
  font-size: 15px;
  color: rgb(40, 40, 90);
}

.color {
  background-color: rgb(40, 40, 90);
}

.margin {
  margin-top: 20%;
}

.icon {
  border-radius: 50%;
  height: 40;
  width: 40;
  background-color: rgb(12, 115, 115);
  color: white;
  margin-top: 30;
}

.mar-l-r {
  margin-right: 30;
  margin-left: 30;
}

.icon-nam {
  color: rgb(40, 40, 90);
  font-size: 10;
}

.mar-l-r-nam {
  margin-left: 35;
  margin-right: 35;
}

.p-top {
  padding-top: 50;
}

.p-bottom {
  padding-bottom: 30;
}
.input {
    width: 100%;
    height: 35px !important;
    margin: 10px auto;
    background: #feffff !important;
    border: 1px solid #a5aba7 !important;
    border-radius: 4px !important;
}
.flex-center{
    display: flex;
    justify-content: center;
}
