<StackLayout>

  <ns-pie-chart [maxPoint]="pieChartAmount" [chartColor]="'#4e9895'" [indicatorColor]="'#3b8d8a'" height="200"></ns-pie-chart>
  <!-- <RadPieChart height="100" allowAnimation="true">
    <PieSeries tkPieSeries selectionMode="DataPoint" expandRadius="0.4" outerRadiusFactor="0.7" [items]="activeYearAccountsRanks"
      valueProperty="amount" legendLabel="Accounts"></PieSeries> -->
  <!-- <RadLegendView tkPieLegend position="Right" title="Accounts" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView> -->
  <!-- </RadPieChart> -->

  <RadCartesianChart height="200" tkExampleTitle tkToggleNavButton (pointSelected)="calculatePieChartPer($event)">
    <CategoricalAxis tkCartesianHorizontalAxis labelFitMode="Rotate"></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis lineHidden="true" labelFormat="%.0f"></LinearAxis>
    <BarSeries tkCartesianSeries [items]="activeYearAccountsRanks" selectionMode="DataPoint"
    categoryProperty="name" valueProperty="amount" showLabels="true"></BarSeries>
  </RadCartesianChart>
</StackLayout>
