<div class="main">
    <div class="center">
        <div class="flex-center">
            <img class="logo" src="assets/image/logo.png">
        </div>

        <div class="form">

            <form name="login" action="#" [formGroup]="mobileVerifyForm">
                <div *ngIf="!(isLoginWithMobileSubmited$ | async)">
                    <input type="text" class="uname" formControlName="mobileNumber" placeholder="Mobile No">
                    <input class="btn" type="button" [disabled]="mobileVerifyForm.get('mobileNumber').invalid" (click)="getOtp()" name="submit"
                        value="Get Verification Code" [ladda]='isLoginWithMobileInProcess$ | async'>
                </div>

                <div *ngIf="(isLoginWithMobileSubmited$ | async)">
                    <input type="password" name="password" formControlName="otp" class="pass" placeholder="Otp">
                    <input class="btn" type="button" [disabled]="mobileVerifyForm.invalid" name="submit" [ladda]='isVerifyMobileInProcess$ | async'
                        (click)="verifyCode()" value="Submit">
                </div>
            </form>

            <div class="helperlinks">
                <ul class="helperlinks">
                    <li>
                        <a [routerLink]="['/login/forgot-password']">Forgot Password</a>
                        <a [routerLink]="['/login/login-with-email']">Login with Email</a>
                        <a [routerLink]="['/login']">Login With Password</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['signup']">Sign UP</a>
                    </li> -->
                </ul>
            </div>

        </div>
        <!-- <span style="color: darkblue;">&nbsp;&nbsp;or login with&nbsp;&nbsp;</span>
        <div class="social">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus icon" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</div>
