<GridLayout class="login" rows="150,*, auto" columns="*">
    <StackLayout verticalAlignment="bottom" row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" height="69" stretch="aspectFit" horizontalAlignment="center"></Image>
    </StackLayout>  
    <StackLayout verticalAlignment="center" row="1" col="0" class="page">
  
        <StackLayout class="form" [formGroup]="forgotPasswordForm">
  
          <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
            <TextField hint="Email Id" formControlName="uniqueKey" class="input"></TextField>
          </StackLayout>
  
          <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
            <TextField hint="Otp" class="input" formControlName="verificationCode"></TextField>
            <TextField hint="Password" formControlName="newPassword" secure="true" class="input"></TextField>
            <TextField hint="Confirm Password" formControlName="confirmPassword" secure="true" class="input"></TextField>
          </StackLayout>
  
          <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
            <!-- <Button text="Submit" class="btn btn-primary" (tap)="forgotPassword()" [isEnabled]="forgotPasswordForm.get('uniqueKey').valid"></Button> -->
            <MyButton [text]="'Submit'" [isEnabled]="forgotPasswordForm.get('uniqueKey').valid" [lodder]='isForgotPasswordInProcess$ | async'
              (tap)="forgotPassword()" [class]="'btn btn-primary'">
            </MyButton>
          </StackLayout>
  
          <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
            <!-- <Button text="Reset Password" class="btn btn-primary" (tap)="resetPassword()" [isEnabled]="forgotPasswordForm.valid"></Button> -->
            <MyButton [text]="'Reset Password'" [isEnabled]="forgotPasswordForm.valid" [lodder]='isResetPasswordInProcess$ | async' (tap)="resetPassword()"
              [class]="'btn btn-primary'">
            </MyButton>
          </StackLayout>
  
        </StackLayout>
  
    </StackLayout>
    <StackLayout verticalAlignment="bottom" row="2" col="0" class="login-alternate">
        <GridLayout rows="auto" columns="*,auto,*" class="login-separator">
            <StackLayout class="hr-light color" col="0"></StackLayout>
            <Label text="OR login with" class="font" col="1"></Label>
            <StackLayout class="hr-light color" col="2"></StackLayout>
        </GridLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" class="social-login">
            <Button text="&#xf0d5;" class="fa icon"></Button>
            <!-- <Button text="&#xf0e1;" class="fa icon mar-l-r"></Button>
            <Button text="&#xf099;" class="fa icon"></Button> -->
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal">
            <Label text="Google" class="icon-nam" col="1"></Label>
            <!-- <Label text="linkenid" class="icon-nam p-bottom mar-l-r-nam" col="1"></Label>
            <Label text="twitter" class="icon-nam p-bottom" col="1"></Label> -->
        </StackLayout>
    </StackLayout>
  </GridLayout>
  