<div class="main">
    <div class="center">

        <div class="flex-center">
            <img class="logo" src="assets/image/logo.png">
        </div>

        <div class="form">

            <form name="login" action="#" [formGroup]="emailVerifyForm">
                <div *ngIf="!(isLoginWithEmailSubmited$ | async)">
                    <input type="text" class="uname" formControlName="email" placeholder="Email Id">
                    <input class="btn" type="button" [disabled]="emailVerifyForm.get('email').invalid" (click)="loginWithEmail()" name="submit"
                        value="Submit" [ladda]='isLoginWithEmailInProcess$ | async'>
                </div>

                <div *ngIf="(isLoginWithEmailSubmited$ | async)">
                    <input type="password" name="password" formControlName="token" class="pass" placeholder="Otp">
                    <input class="btn" type="button" [disabled]="emailVerifyForm.invalid" name="submit" [ladda]='isVerifyEmailInProcess$ | async'
                        (click)="verifyEmail()" value="Submit">
                </div>
            </form>

            <div class="helperlinks">
                <ul class="helperlinks">
                    <li>
                        <a [routerLink]="['/login/forgot-password']">Forgot Password</a>
                        <a [routerLink]="['/login/login-with-otp']">Login with OTP</a>
                        <a [routerLink]="['/login']">Login With Password</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- <span style="color: darkblue;">&nbsp;&nbsp;or login with&nbsp;&nbsp;</span>
        <div class="social">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin icon" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus icon" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</div>
