<GridLayout class="login" rows="150,*,auto" columns="*">

    <StackLayout verticalAlignment="bottom" row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" height="69" stretch="aspectFit" horizontalAlignment="center"></Image>
    </StackLayout>  
    <StackLayout verticalAlignment="center" row="1" col="0" class="page">
  
        <StackLayout class="form" [formGroup]="emailVerifyForm">
  
          <StackLayout *ngIf="!(isLoginWithEmailSubmited$ | async)">
            <TextField hint="Email Id" class="input" formControlName="email"></TextField>
            <!-- <Button text="Submit" [disabled]="emailVerifyForm.invalid" (tap)="loginWithEmail()" class="btn btn-primary"></Button> -->
            <MyButton [text]="'Submit'" [isEnabled]="emailVerifyForm.get('email').valid" [lodder]='isLoginWithEmailInProcess$ | async'
              (tap)="loginWithEmail()" [class]="'btn btn-primary'">
            </MyButton>
            <!-- <Button text="Resend" [disabled]="emailVerifyForm.invalid" (tap)="getOtp()" *ngIf="!(isLoginWithEmailSubmited$ | async)" class="btn btn-primary"></Button> -->
          </StackLayout>
  
          <StackLayout *ngIf="(isLoginWithEmailSubmited$ | async)">
            <TextField hint="Otp" class="input" formControlName="token"></TextField>
            <!-- <Button text="Last step to go" [disabled]="emailVerifyForm.invalid" (tap)="verifyEmail()" class="btn btn-primary"></Button> -->
            <MyButton [text]="'Last step to go'" [isEnabled]="emailVerifyForm.valid" [lodder]='isVerifyEmailInProcess$ | async' (tap)="verifyEmail()"
              [class]="'btn btn-primary'">
            </MyButton>
          </StackLayout>
  
          <StackLayout horizontalAlignment="center" orientation="horizontal" marginTop="5" class="login-options">
            <Label text="  Login with Password " class="font last" (tap)="backToLogin()" pageTransition="flip"></Label>
          </StackLayout>
  
        </StackLayout>
    </StackLayout>
    <StackLayout verticalAlignment="bottom" row="2" col="0" class="login-alternate">
      <GridLayout rows="auto" columns="*,auto,*" class="login-separator">
        <StackLayout class="hr-light color" col="0"></StackLayout>
        <Label text="OR login with" class="p-10 font" col="1"></Label>
        <StackLayout class="hr-light color" col="2"></StackLayout>
      </GridLayout>
      <StackLayout horizontalAlignment="center" orientation="horizontal">
        <Button text="&#xf0d5;" class="fa icon"></Button>
        <!-- <Button text="&#xf0e1;" class="fa icon mar-l-r"></Button>
        <Button text="&#xf099;" class="fa icon"></Button> -->
      </StackLayout>
      <StackLayout horizontalAlignment="center" orientation="horizontal">
        <Label text="Google" class="icon-nam" col="1"></Label>
        <!-- <Label text="linkenid" class="icon-nam p-bottom mar-l-r-nam" col="1"></Label>
        <Label text="twitter" class="icon-nam p-bottom" col="1"></Label> -->
      </StackLayout>
    </StackLayout>
  </GridLayout>
  