<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [(opened)]="isOpened">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>{{ (user$ | async)?.user?.name }}</mat-card-title>
                <mat-card-subtitle>{{ (user$ | async)?.user?.email }}</mat-card-subtitle>
            </mat-card-title-group>

            <h3 mat-subheader>Pages</h3>
            <mat-card-content>
                <mat-nav-list>
                    <mat-list-item [ngClass]="{'active': item.isSelected}" *ngFor="let item of pages" (click)="onNavItemTap(item)">
                        <a mat-list-icon class="customFont" [ngStyle]="{'font-family': item.fontFamily}">{{ item.icon }}</a>
                        <h4 mat-line>{{item.title}}</h4>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>

    </mat-sidenav>

    <mat-sidenav-content>
        <ng-template [ngTemplateOutlet]="optionTemplate"></ng-template>
    </mat-sidenav-content>
</mat-sidenav-container>
