<div style="display: flex;flex-direction: column">

    <div style="display: flex; align-items: center; border-bottom: 1px solid #E6E6E6; margin-bottom: 15px;">
        <h4 style="flex: 1 0 auto" matLine>Revenue ({{ chartFilterTitle }})</h4>
        <button mat-icon-button (click)="openFilter()">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>

    <div style="display: grid; grid-template-columns:
    repeat(2, minmax(100px, 1fr));">
        <div style="display: flex;flex-direction: column;align-items: center;">
            <chart [options]="pieChartOptions"></chart>
            <span>Rs, {{ activeYearGrandAmount | number: '1.2-2' }}</span>
            <span>{{ activeYearLabel }}</span>
        </div>
        <div style="display: flex;flex-direction: column;align-items: center;">
            <chart [options]="previousPieChartOptions"></chart>
            <span>Rs, {{ lastYearGrandAmount | number: '1.2-2' }}</span>
            <span>{{ lastYearLabel }}</span>
        </div>
    </div>

    <chart style="flex:1 0 auto" #chart [options]="options"></chart>
</div>
