<StackLayout padding="0 15">

        <FlexboxLayout justifyContent="space-between" margin="10 0">
            <Label text="Revenue ({{ chartFilterTitle }})" class="chart-title"></Label>
            <Label text="&#xe904;" color="#333333" fontSize="20" [nsRouterLink]="['/dashboard','filter', chartType]" class="" fontFamily="GiddhIconFonts"></Label>
        </FlexboxLayout>
    
        <StackLayout class="hr-light"></StackLayout>
    
        <WebView #myWebView [src]="webViewSRC">
        </WebView>
    </StackLayout>
    