<div style="display: flex;flex-direction: column">

    <div style="display: flex">
        <h4 style="flex: 1 0 auto" matLine>Revenue ({{ chartFilterTitle }})</h4>
        <button mat-icon-button>
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>

    <div style="display: flex">
        <div style="display: flex;flex-direction: column;flex: 1 0 auto;align-items: center;" (click)="onChartSelection('current')">
            <chart [options]="pieChartOptions" (click)="onChartPointSelection($event, 'current')"></chart>
            <span>Rs, {{ activeYearGrandAmount | number: '1.2-2' }}</span>
            <span>{{ pieLable }}</span>
        </div>
        <div style="display: flex;flex-direction: column;flex: 1 0 auto;align-items: center;" (click)="onChartSelection('previous')">
            <chart [options]="previousPieChartOptions" (click)="onChartPointSelection($event, 'previous')"></chart>
            <span>Rs, {{ lastYearGrandAmount | number: '1.2-2' }}</span>
            <span>{{ previousPieLable }}</span>
        </div>
    </div>

    <chart style="flex:1 0 auto" #chart [options]="options">
        <series>
            <point (click)="seriesSeleted($event)"></point>
        </series>
    </chart>
</div>
