::ng-deep .sheetHeader {
    display: flex;
    justify-content: space-around;
    background-color: #E6E6E8;
    padding: 10px
}

::ng-deep .sheetListItemContainer {
    display: flex;
    justify-content: space-between;
    width: 100%
}

::ng-deep .mat-tab-labels {
    justify-content: space-between;
}

::ng-deep .mat-tab-label {
    flex: 1 0 auto;
}
