<ActionBar class="action-bar" width="100%">
  <GridLayout columns="auto,*,auto" rows="*" width="100%">
    <Button row="0" col="0" class="button" height="50" width="50" textAlignment="center" text="&#xf060;" fontFamily="FontAwesome">
    </Button>
    <Label row="0" col="1" class="action-bar-title" [text]="'Settings'" horizontalAlignment="left"></Label>
  </GridLayout>
</ActionBar>

<StackLayout>

  <CardView margin="10" elevation="40" radius="1">
    <ListView [items]="items">
      <ng-template let-item="item" let-i="index">

        <FlexboxLayout>
            <Label text="&#xf060;" flexShrink="0" fontFamily="FontAwesome"></Label>
            <Label text="{{ item.text }}" textWrap="true" flexGrow="1"></Label>
        </FlexboxLayout>

      </ng-template>
    </ListView>
  </CardView>

</StackLayout>
