.pieChartContainer {
    display: flex;
    flex-direction: row;
}
.colorDiv {
    height: 15px;
    width: 15px;
    display: inline-block;
}
.div-cover{
    margin-top: 20px;
    margin-left: 20px;
}
