<div class="container" #container [ngStyle]="{'padding': '0 '+ ((width - 414)/2) + 'px'}">


    <div class="sixteen-nine">
        <my-header [title]="'Trial Balance'" [leftSideItem]="{ icon:'arrow_back', action: goBack.bind(this) }">
        </my-header>

        <mat-card class="mat-elevation-z8">

            <mat-card-content>
                <form>
                    <mat-form-field style="display: flex">
                        <input type="text" matInput #searchControl>
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </form>
            </mat-card-content>

        </mat-card>

        <mat-card>
            <mat-card-content>
                <div>
                    <a (click)="resetNavigation()">Home /</a>
                    <span *ngFor="let brd of breadCrumb" style="margin: 0px 5px">
                        <a *ngIf="brd !== activeGrp;else last" (click)="navigateTo(brd)">{{ brd }} /</a>
                        <ng-template #last> {{ brd }}</ng-template>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>

            <mat-card-content>

                <mat-nav-list *ngIf="!isSearchEnabled; else searchContainer">
                    <mat-list-item *ngFor="let grp of (filterdData)" (click)="filterData(grp)">
                        <a matLine>{{ grp.groupName }}</a>

                        <mat-nav-list>
                            <mat-list-item *ngFor="let acc of grp.accounts"
                                           (click)="$event.stopPropagation();goToLedger(acc)">
                                <p matLine>
                                    {{ acc.name }}
                                </p>
                            </mat-list-item>

                        </mat-nav-list>
                    </mat-list-item>
                </mat-nav-list>

                <ng-template #searchContainer>
                    <mat-nav-list>
                        <mat-list-item *ngFor="let item of searchedFlattenGrpDetails" (click)="searchResultClicked(item)">
                            <a matLine>
                                {{ item.isGroup ? item.groupName : item.name }}
                            </a>
                            <p matLine>{{ item.isGroup ? 'Grp' : 'Acc' }}</p>
                        </mat-list-item>
                    </mat-nav-list>
                </ng-template>

            </mat-card-content>
        </mat-card>
    </div>
</div>
