<ActionBar class="action-bar" width="100%">
    <GridLayout columns="auto,*,auto" rows="*" width="100%">
        <Button row="0" col="0" class="button" height="50" width="50" ios:visibility="collapsed" (tap)="goBack()"
                textAlignment="center"
                text="&#xf060;" fontFamily="FontAwesome">
        </Button>
        <Label row="0" col="1" class="action-bar-title" fontWeight="400" text="Trial Balance"
               horizontalAlignment="left"></Label>
        <!-- <Label text="&#xf1de;" fontSize="20"  class="" fontFamily="FontAwesome"></Label> -->
    </GridLayout>
</ActionBar>

<ScrollView>
    <StackLayout margin="5">
        <GridLayout rows="auto" columns="*" *ngIf="breadCrumb.length === 0" marginBottom="20">
            <StackLayout borderBottomWidth="1" borderLeftWidth="1" borderRightWidth="1" borderTopWidth="1"
                         borderColor="#D2D2D4">
                <SearchBar row="0" hint="Search" (textChange)="search($event.object.text)"></SearchBar>
            </StackLayout>
        </GridLayout>

        <CardView class="gen-card-style" elevation="3" radius="1" *ngIf="breadCrumb.length > 0">

            <ScrollView orientation="horizontal">
                <StackLayout orientation="horizontal" padding="15" color="black" class="brd-text">
                    <Label text="Home /" (tap)="resetNavigation()" color="#0aa7fc"></Label>
                    <StackLayout *ngFor="let brd of breadCrumb;let l = last" style="margin: 0px 5px">
                        <Label *ngIf="!l" color="#0aa7fc" (tap)="navigateTo(brd.uniqueName)"
                               text="{{ brd.name }} /"></Label>
                        <Label *ngIf="l" text="{{ brd.name }}"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </CardView>

        <CardView class="gen-card-style" elevation="3" radius="1" *ngIf="breadCrumb.length > 0 && activeGrp">
            <FlexboxLayout flexDirection="row" class="text-box">
                <Label text="Total"></Label>
                <Label text="{{ activeGrp?.closingBalance.amount | number: '1.0-2' }}"></Label>
            </FlexboxLayout>
        </CardView>

        <CardView class="gen-card-style" elevation="3" radius="1">

            <FlexboxLayout flexDirection="column">

                <ng-container *ngIf="activeAcc === '';">

                    <StackLayout>
                        <FlexboxLayout flexDirection="row" justifyContent="space-between" class="bold" padding="5 10">
                            <Label text="Particular"></Label>
                            <!--<Label class="fa" text="\uf293"></Label>-->
                            <Label text="Closing Balance"></Label>
                        </FlexboxLayout>
                    </StackLayout>

                    <FlexboxLayout flexDirection="column" class="list-group"
                                   *ngIf="!isSearchEnabled; else searchContainer">
                        <!--Groups-->
                        <StackLayout orientation="vertical" *ngFor="let grp of (filterdData)">

                            <StackLayout borderBottomWidth="1" borderBottomColor="#ebebeb" class="list-group-item"
                                         (tap)="filterData(grp)">
                                <Label class="main-text" text="{{ grp.groupName }} >"></Label>
                                <GridLayout columns="*,*" rows="auto">
                                    <StackLayout row="0" col="0">
                                        <Label text="Label 1" class="sub-text"></Label>
                                    </StackLayout>
                                    <StackLayout row="0" col="1">
                                        <FlexboxLayout justifyContent="space-between" class="pull-right">
                                            <Label class="main-text"
                                                   text="{{ grp.closingBalance.amount | number: '1.0-2' }}"
                                                   marginRight="5"></Label>
                                            <Label text="Cr" class="sub-text" marginTop="3"></Label>
                                        </FlexboxLayout>
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>

                        </StackLayout>
                        <!--Accounts-->
                        <StackLayout orientation="vertical" *ngFor="let acc of activeGrp?.accounts"
                                     (tap)="goToLedger(acc)">
                            <StackLayout class="list-group-item" borderBottomWidth="1" borderBottomColor="#ebebeb">
                                <Label class="main-text" text="{{ acc.name }}" textWrap="true"></Label>
                                <GridLayout columns="*,*" rows="auto">
                                    <StackLayout row="0" col="0">
                                        <Label text="Label 1" class="sub-text"></Label>
                                    </StackLayout>
                                    <StackLayout row="0" col="1">
                                        <FlexboxLayout justifyContent="space-between" class="pull-right">
                                            <Label class="main-text"
                                                   text="{{ acc.closingBalance.amount | number: '1.0-2' }}"
                                                   marginRight="5"></Label>
                                            <Label text="Cr" class="sub-text" marginTop="3"></Label>
                                        </FlexboxLayout>
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </StackLayout>
                    </FlexboxLayout>

                    <ng-template #searchContainer>
                        <FlexboxLayout flexDirection="column" class="list-group">
                            <StackLayout orientation="vertical" *ngFor="let item of searchedFlattenGrpDetails"
                                         (tap)="searchResultClicked(item)"
                                         class="list-group-item">
                                <Label class="main-text" text="{{ item.isGroup ? item.groupName : item.name }}"></Label>
                                <Label class="sub-text" text="{{ item.isGroup ? 'Grp' : 'Acc' }}"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                    </ng-template>

                </ng-container>

                <ng-container *ngIf="activeAcc !== ''">
                    <FlexboxLayout flexDirection="column">
                        <ns-acc-ledger [accUniqueName]="activeAcc"></ns-acc-ledger>
                    </FlexboxLayout>
                </ng-container>

            </FlexboxLayout>

        </CardView>
    </StackLayout>
</ScrollView>


