<ActionBar class="action-bar" width="100%">
    <GridLayout columns="auto,*,auto" rows="*" width="100%">
        <Button row="0" col="0" class="button" height="50" width="50" ios:visibility="collapsed" (tap)="goBack()"
                textAlignment="center"
                text="&#xf060;" fontFamily="FontAwesome">
        </Button>
        <Label row="0" col="1" class="action-bar-title" fontWeight="400" text="Trial Balance"
               horizontalAlignment="left"></Label>
        <!-- <Label text="&#xf1de;" fontSize="20"  class="" fontFamily="FontAwesome"></Label> -->
    </GridLayout>
</ActionBar>

<!--<ScrollView verticalAlignment="stretch">-->
<StackLayout margin="5" orientation="vertical">
    <GridLayout verticalAlignment="stretch" rows="auto,auto,*" col="*">
        <!--search bar-->
        <CardView row="0" , col="0" class="gen-card-style" elevation="10" radius="5" marginBottom="20" ripple="true"
                  *ngIf="breadCrumb.length === 0">
            <GridLayout rows="auto" columns="*">
                <!--<StackLayout>-->
                <FlexboxLayout>
                    <Label [text]="icon" fontFamily="FontAwesome" alignSelf="center" margin="0 15"
                           fontSize="16"></Label>
                    <TextView hint="Search group and accounts" row="0"
                              (textChange)="search($event.object.text)" returnKeyType="send"
                              class="input customTextView" backgroundColor="white"></TextView>
                </FlexboxLayout>
                <!--</StackLayout>-->
            </GridLayout>
        </CardView>
        <!--breadCrumb bar-->
        <CardView row="0" , col="0" class="gen-card-style" elevation="3" radius="1" *ngIf="breadCrumb.length > 0">
            <ScrollView orientation="horizontal">
                <StackLayout orientation="horizontal" padding="15" color="black" class="brd-text">
                    <Label text="Home /" (tap)="resetNavigation()" color="#0aa7fc"></Label>
                    <StackLayout *ngFor="let brd of breadCrumb;let l = last" style="margin: 0px 5px">
                        <Label *ngIf="!l" color="#0aa7fc" (tap)="navigateTo(brd.uniqueName)"
                               text="{{ brd.name }} /"></Label>
                        <Label *ngIf="l" text="{{ brd.name }}"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </CardView>
        <!--breadCrumb bar show account-->
        <CardView row="1" , col="0" class="gen-card-style" elevation="3" radius="1"
                  *ngIf="breadCrumb.length > 0 && activeGrp">
            <FlexboxLayout flexDirection="row" class="text-box">
                <Label text="Total"></Label>
                <Label text="{{ activeGrp?.closingBalance.amount | number: '1.0-2' }}"></Label>
            </FlexboxLayout>
        </CardView>
        <CardView row="2" , col="0" verticalAlignment="stretch" class="gen-card-style" elevation="3" radius="1">

            <FlexboxLayout verticalAlignment="stretch" flexDirection="column">

                <ng-container *ngIf="activeAcc === '';">

                    <DockLayout>
                        <!--<StackLayout orientation="horizontal">-->
                        <FlexboxLayout class="bold" padding="5 10" flexDirection="row"
                                       justifyContent="space-between"
                                       dock="top">
                            <FlexboxLayout>
                                <Label text="Particular" marginRight="7"></Label>
                                <Label text="&#xf0dd;" fontFamily="FontAwesome"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout>
                                <Label text="Closing Balance" marginRight="7"></Label>
                                <Label text="&#xf0dd;" fontFamily="FontAwesome"></Label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <!--</StackLayout>-->

                        <FlexboxLayout flexDirection="column" class="list-group"
                                       *ngIf="!isSearchEnabled; else searchContainer" alignContent="stretch">
                            <!--Groups-->
                            <ListView [items]="mergedGroupAndAccountData$ | async" class="list-group">
                                <ng-template let-grp="item">
                                    <GridLayout rows="auto">
                                        <!--<ng-template >-->
                                        <StackLayout borderBottomWidth="1" borderBottomColor="#ebebeb"
                                                     class="list-group-item"
                                                     (tap)="filterData(grp)" *ngIf="grp.isGroup">
                                            <Label class="main-text" text="{{ grp.groupName }} >"></Label>
                                            <GridLayout columns="*,*" rows="auto">
                                                <StackLayout row="0" col="0">
                                                    <Label text="{{ grp.understandingCategoryText }}"
                                                           class="sub-text"></Label>
                                                </StackLayout>
                                                <StackLayout row="0" col="1">
                                                    <FlexboxLayout justifyContent="space-between"
                                                                   class="pull-right">
                                                        <Label class="main-text"
                                                               text="{{ grp.closingBalance.amount | number: '1.0-2' }}"
                                                               marginRight="5"></Label>
                                                        <Label text="Cr" class="sub-text" marginTop="3"></Label>
                                                    </FlexboxLayout>
                                                </StackLayout>
                                            </GridLayout>
                                        </StackLayout>
                                        <!--</ng-template>-->
                                        <!--<ng-template >-->
                                        <StackLayout class="list-group-item" borderBottomWidth="1"
                                                     *ngIf="!grp.isGroup"
                                                     borderBottomColor="#ebebeb" (tap)="goToLedger($event)">
                                            <Label class="main-text" text="{{ grp.name }}" textWrap="true"></Label>
                                            <GridLayout columns="*,*" rows="auto">
                                                <StackLayout row="0" col="0">
                                                    <Label text="{{ grp.understandingCategoryText }}"
                                                           class="sub-text"></Label>
                                                </StackLayout>
                                                <StackLayout row="0" col="1">
                                                    <FlexboxLayout justifyContent="space-between"
                                                                   class="pull-right">
                                                        <Label class="main-text"
                                                               text="{{ grp.closingBalance.amount | number: '1.0-2' }}"
                                                               marginRight="5"></Label>
                                                        <Label text="Cr" class="sub-text" marginTop="3"></Label>
                                                    </FlexboxLayout>
                                                </StackLayout>
                                            </GridLayout>
                                        </StackLayout>
                                        <!--</ng-template>-->
                                    </GridLayout>
                                </ng-template>
                            </ListView>
                            <!--<StackLayout orientation="vertical" *ngFor="let grp of (filterdData)">-->

                            <!--<StackLayout borderBottomWidth="1" borderBottomColor="#ebebeb" class="list-group-item"-->
                            <!--(tap)="filterData(grp)">-->
                            <!--<Label class="main-text" text="{{ grp.groupName }} >"></Label>-->
                            <!--<GridLayout columns="*,*" rows="auto">-->
                            <!--<StackLayout row="0" col="0">-->
                            <!--<Label text="{{ grp.understandingCategoryText }}" class="sub-text"></Label>-->
                            <!--</StackLayout>-->
                            <!--<StackLayout row="0" col="1">-->
                            <!--<FlexboxLayout justifyContent="space-between" class="pull-right">-->
                            <!--<Label class="main-text"-->
                            <!--text="{{ grp.closingBalance.amount | number: '1.0-2' }}"-->
                            <!--marginRight="5"></Label>-->
                            <!--<Label text="Cr" class="sub-text" marginTop="3"></Label>-->
                            <!--</FlexboxLayout>-->
                            <!--</StackLayout>-->
                            <!--</GridLayout>-->
                            <!--</StackLayout>-->

                            <!--</StackLayout>-->
                            <!--Accounts-->
                            <!--<ListView [items]="activeGrp?.accounts" class="list-group">-->
                            <!--<ng-template let-acc="item">-->

                            <!--</ng-template>-->
                            <!--</ListView>-->
                            <!--<StackLayout orientation="vertical" *ngFor="let acc of activeGrp?.accounts"-->
                            <!--(tap)="goToLedger(acc)">-->
                            <!--<StackLayout class="list-group-item" borderBottomWidth="1" borderBottomColor="#ebebeb">-->
                            <!--<Label class="main-text" text="{{ acc.name }}" textWrap="true"></Label>-->
                            <!--<GridLayout columns="*,*" rows="auto">-->
                            <!--<StackLayout row="0" col="0">-->
                            <!--<Label text="{{ acc.understandingCategoryText }}" class="sub-text"></Label>-->
                            <!--</StackLayout>-->
                            <!--<StackLayout row="0" col="1">-->
                            <!--<FlexboxLayout justifyContent="space-between" class="pull-right">-->
                            <!--<Label class="main-text"-->
                            <!--text="{{ acc.closingBalance.amount | number: '1.0-2' }}"-->
                            <!--marginRight="5"></Label>-->
                            <!--<Label text="Cr" class="sub-text" marginTop="3"></Label>-->
                            <!--</FlexboxLayout>-->
                            <!--</StackLayout>-->
                            <!--</GridLayout>-->
                            <!--</StackLayout>-->
                            <!--</StackLayout>-->
                        </FlexboxLayout>

                        <ng-template #searchContainer>
                            <FlexboxLayout flexDirection="column" class="list-group">
                                <ListView [items]="searchedFlattenGrpDetails$ | async" class="list-group">
                                    <ng-template let-grp="item">
                                        <StackLayout class="list-group-item" (tap)="searchResultClicked(grp)">
                                            <Label class="main-text"
                                                   text="{{ grp.isGroup ? grp.groupName : grp.name }}"></Label>
                                            <Label class="sub-text"
                                                   text="{{ grp.isGroup ? 'Grp' : 'Acc' }}"></Label>
                                        </StackLayout>
                                    </ng-template>
                                </ListView>
                            </FlexboxLayout>
                        </ng-template>
                    </DockLayout>

                </ng-container>
                <!--account view-->
                <ng-container *ngIf="activeAcc !== ''">
                    <FlexboxLayout flexDirection="column">
                        <ns-acc-ledger [accUniqueName]="activeAcc"></ns-acc-ledger>
                    </FlexboxLayout>
                </ng-container>

            </FlexboxLayout>

        </CardView>
    </GridLayout>

</StackLayout>
<!--</ScrollView>-->


