<div class="container" #container [ngStyle]="{'padding': '0 '+ ((width - 414)/2) + 'px'}">


    <div class="sixteen-nine">
        <my-header [title]="'Trial Balance'" [leftSideItem]="{ icon:'arrow_back', action: goBack.bind(this) }">
        </my-header>

        <mat-card *ngIf="breadCrumb.length > 0">
            <mat-card-content>
                <div>
                    <a (click)="resetNavigation()">Home /</a>
                    <span *ngFor="let brd of breadCrumb;let l = last" style="margin: 0px 5px">
                        <a *ngIf="!l;else last"
                           (click)="navigateTo(brd)">{{ brd }} /</a>
                        <ng-template #last> {{ brd }}</ng-template>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>

        <ng-container *ngIf="activeAcc === ''">
            <mat-card class="mat-elevation-z8" *ngIf="breadCrumb.length === 0">

                <mat-card-content>
                    <form>
                        <div style="display: flex;">
                            <mat-icon class="icon-search" matPrefix>search</mat-icon>
                            <input class="search-box" type="text" matInput #searchControl (input)="search(searchControl.value)">
                        </div>
                    </form>
                </mat-card-content>

            </mat-card>

            <mat-card class="mat-elevation-z2" *ngIf="breadCrumb.length > 0">

                <mat-card-content>
                    <div class="totalContainer">
                        <p>Total</p>
                        <p style="font-weight: 600">{{ activeGrp?.closingBalance.amount | number: '1.0-2' }}</p>
                    </div>
                </mat-card-content>

            </mat-card>

            <mat-card>
                <div class="arrow-text">
                    <span>Particular
                        <mat-icon class="arrow-drop" matPrefix>arrow_drop_down
                        </mat-icon>
                    </span>
                    <span class="pull-right">Closing Balance
                        <mat-icon class="arrow-drop" matPrefix>arrow_drop_down
                        </mat-icon>
                    </span>
                </div>

                <div>

                    <ul class="list-nav" *ngIf="!isSearchEnabled; else searchContainer">
                        <li *ngFor="let grp of (filterdData)" (click)="filterData(grp)">
                            <div class="inner-item">
                                <a class="list-a" matLine>{{ grp.groupName }} ></a>
                                <small>bdfkbwsdfbs</small>
                                <span class="pull-right">{{ grp.closingBalance.amount | number: '1.0-2' }} {{ grp.closingBalance.type === 'DEBIT' ? 'Dr' : 'Cr' }}</span>
                            </div>

                            <ul class="list-nav">
                                <li *ngFor="let acc of grp.accounts" (click)="$event.stopPropagation();goToLedger(acc)">
                                    <div class="inner-item">
                                        <a class="list-a" matLine>
                                            {{ acc.name }}
                                        </a>
                                        <small>bdfkbwsdfbs</small>
                                        <span class="pull-right">{{ acc.closingBalance.amount | number: '1.0-2' }} {{ acc.closingBalance.type === 'DEBIT' ? 'Dr' : 'Cr' }}</span>
                                    </div>
                                </li>

                            </ul>
                        </li>
                    </ul>

                    <ng-template #searchContainer>
                        <mat-nav-list>
                            <mat-list-item *ngFor="let item of searchedFlattenGrpDetails"
                                           (click)="searchResultClicked(item)">
                                <a matLine>
                                    {{ item.isGroup ? item.groupName : item.name }}
                                </a>
                                <p matLine>{{ item.isGroup ? 'Grp' : 'Acc' }}</p>
                            </mat-list-item>
                        </mat-nav-list>
                    </ng-template>

                </div>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="activeAcc !== ''">
            <div>
                <div>
                    <ns-acc-ledger [accUniqueName]="activeAcc"></ns-acc-ledger>
                </div>
            </div>
        </ng-container>
    </div>
</div>
