<div class="container" #container [ngStyle]="{'padding': '0 '+ ((width - 414)/2) + 'px'}">


    <div class="sixteen-nine">
        <my-header [title]="'Trial Balance'" [leftSideItem]="{ icon:'arrow_back' }">
        </my-header>

        <mat-card class="mat-elevation-z8">

            <mat-card-content>
                <mat-form-field style="display: flex">
                    <input type="text" matInput [matAutocomplete]="auto">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-card-content>

        </mat-card>
    </div>
</div>
