<ActionBar class="action-bar">
  <!--
  Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
  -->
  <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
  <!--
  Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
  -->
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" [text]="'Select Time'"></Label>
  <ActionItem ios.position="left" android.position="actionBar" (tap)="saveAndClose()" class="fa" fontColor="white" text="Save"></ActionItem>
</ActionBar>

<GridLayout>
  <CardView margin="10" elevation="40" radius="1">
    <ListView [items]="items">
      <ng-template let-item="item" let-i="index">
        <CheckBox #elem [text]="item.text" [checked]="item.selected"
        (checkedChange)="elem.checked !== item.selected && changeCheckedRadio(item)" boxType="circle"></CheckBox>
      </ng-template>
    </ListView>
  </CardView>
</GridLayout>
