<GridLayout class="login" rows="150,*,auto" columns="*">
    <!-- <WebView row="0" col="0" #myWebView [src]="secondWebViewSRC">
        </WebView> -->
    <StackLayout verticalAlignment="bottom" row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" height="69" stretch="aspectFit" horizontalAlignment="center"></Image>
    </StackLayout>
    <StackLayout verticalAlignment="center" row="1" col="0" class="page">

      <StackLayout class="form" [formGroup]="loginWithPasswordForm">

        <TextField hint="Username/Mobile No/Email Id" formControlName="uniqueKey" class="input"></TextField>
        <TextField hint="Password" formControlName="password" secure="true" class="input"></TextField>
        <MyButton [text]="'Login'" [isEnabled]="loginWithPasswordForm.valid" [lodder]='loginProcess$ | async' (tap)="login()" [class]="'btn btn-primary'">
        </MyButton>

        <StackLayout horizontalAlignment="center" orientation="horizontal" marginTop="5" class="login-options">
          <Label text="Forgot Password?" (tap)="gotoUrl(['login', 'forgot-password'],'slide')" class="font"></Label>
          <!-- <Label text=" |"></Label> -->
          <Label text="  Login with OTP" (tap)="gotoUrl(['login', 'login-with-otp'],'slide')" class="font"></Label>
          <Label text="  Login with Email" (tap)="gotoUrl(['login', 'login-with-email'],'slide')" class="font last"></Label>
        </StackLayout>

        <!-- <StackLayout horizontalAlignment="center">
        </StackLayout> -->
        <StackLayout horizontalAlignment="center">
          <Label text="Sign Up" (tap)="gotoUrl(['login', 'signup'],'slideTop')" class="font signup"></Label>
        </StackLayout>

      </StackLayout>

    </StackLayout>
    <StackLayout verticalAlignment="bottom" row="2" col="0" class="login-alternate">

      <GridLayout rows="auto" columns="*,auto,*" class="login-separator">
        <StackLayout class="hr-light color" col="0"></StackLayout>
        <Label text="OR login with" class="font" col="1"></Label>
        <StackLayout class="hr-light color" col="2"></StackLayout>
      </GridLayout>

      <StackLayout horizontalAlignment="center" orientation="horizontal" class="social-login">
        <Button text="&#xf0d5;" class="fa icon" (tap)="googleLogin()"></Button>
        <Button text="&#xf0e1;" class="fa icon" (tap)="gotoUrl(['login', 'linkedin-login'],'slide')"></Button>
        <!--   <Button text="&#xf099;" class="fa icon"></Button> -->
      </StackLayout>

      <StackLayout horizontalAlignment="center" orientation="horizontal">
        <Label text="Google" class="icon-nam" col="1"></Label>

        <Label text="Linkenid" class="icon-nam" col="1"></Label>
        <!--  <Label text="twitter" class="icon-nam p-bottom" col="1"></Label> -->

      </StackLayout>
    </StackLayout>

</GridLayout>
