<GridLayout class="login" rows="*" columns="*">
  <GridLayout rows="* ,auto" columns="*">

    <StackLayout row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" stretch="none" horizontalAlignment="center"></Image>

      <StackLayout class="form" [formGroup]="forgotPasswordForm">

        <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
          <TextField hint="Email Id" formControlName="uniqueKey" class="input"></TextField>
        </StackLayout>

        <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
          <TextField hint="Otp" class="input" formControlName="verificationCode"></TextField>
          <TextField hint="Password" formControlName="newPassword" secure="true" class="input"></TextField>
          <TextField hint="Confirm Password" formControlName="confirmPassword" secure="true" class="input"></TextField>
        </StackLayout>

        <StackLayout *ngIf="!(isForgotPasswordSuccess$ | async)">
          <Button text="Submit" class="btn btn-primary" (tap)="forgotPassword()" [isEnabled]="forgotPasswordForm.get('uniqueKey').valid"></Button>
        </StackLayout>

        <StackLayout *ngIf="isForgotPasswordSuccess$ | async">
          <Button text="Reset Password" class="btn btn-primary" (tap)="resetPassword()" [isEnabled]="forgotPasswordForm.valid"></Button>
        </StackLayout>

      </StackLayout>

    </StackLayout>

  </GridLayout>
</GridLayout>
