<GridLayout class="login" rows="*" columns="*">
  <GridLayout rows="* ,auto" columns="*">

    <StackLayout row="0" col="0" class="page">
      <Image id='logo' src="~/assets/image/logo.png" stretch="none" horizontalAlignment="center"></Image>
      <StackLayout class="form" [formGroup]="forgotPasswordForm">
        <TextField hint="Email Id" formControlName="uniqueKey" class="input"></TextField>
        <TextField hint="Otp" class="input" formControlName="verificationCode" editable="false"></TextField>
        <TextField hint="Password" formControlName="newPassword" secure="true" class="input"></TextField>
        <TextField hint="Confirm Password" formControlName="confirmPassword" secure="true" class="input"></TextField>
        <Button text="Login" class="btn btn-primary"></Button>
      </StackLayout>

    </StackLayout>

  </GridLayout>
</GridLayout>
