.tab-button {
    padding: 10;
    font-size: 18;
}
.active-tab {
    color: #FFFFFF;
    background-color: #F06326;
}
.text-color{
    color: black;
}
.num-bold{
    font-weight: bold;
    font-size: 20;
    color: black;
}
.bold{
    font-weight: bold;
}
.font-18{
    font-size: 18;
}
