<FlexboxLayout flexDirection="column">

    <!--date picker label -->
    <FlexboxLayout flexDirection="row" justifyContent="space-between" padding="5" class="text-color">
        <Label class="" text="From Date"></Label>
        <Label class="" text="To Date"></Label>
    </FlexboxLayout>

    <!--date picker-->
    <GridLayout rows="auto" columns="*,*" marginBottom="20">

        <StackLayout row="0" col="0" padding="5" (tap)="openFromDatePicker('from')">
            <StackLayout padding="10" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1" borderRightWidth="1"
                         borderColor="#D2D2D4">
                <Label text="{{ request.from }}" textWrap="true"
                       verticalAlignment="bottom"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout row="0" col="1" padding="5" (tap)="openFromDatePicker('to')">
            <StackLayout padding="10" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1" borderRightWidth="1"
                         borderColor="#D2D2D4">
                <Label text="{{ request.to }}" textWrap="true" class="pull-right"
                       verticalAlignment="bottom"></Label>
            </StackLayout>
        </StackLayout>

    </GridLayout>

    <!--opening / closing label-->
    <FlexboxLayout flexDirection="row" justifyContent="space-between" class="text-color" padding="5 10">
        <Label text="Opening"></Label>
        <Label text="Closing"></Label>
    </FlexboxLayout>

    <!--opening / closing value-->
    <FlexboxLayout flexDirection="row" justifyContent="space-between" padding="5 10" marginBottom="20">

        <FlexboxLayout>
            <Label text="Cr. " *ngIf="(transactionData$ | async)?.forwardedBalance.type === 'CREDIT'"
                   marginTop="7"></Label>
            <Label class="num-bold"
                   text="{{ (transactionData$ | async)?.forwardedBalance.amount  | number: '1.0-2'}}"></Label>
            <Label text=" Dr." *ngIf="(transactionData$ | async)?.forwardedBalance.type === 'DEBIT'"
                   marginTop="7"></Label>
        </FlexboxLayout>

        <StackLayout orientation="horizontal" class="text-color">

            <Label text="&#xf068;" fontFamily="FontAwesome" marginRight="3" verticalAlignment="center"></Label>
            <FlexboxLayout>
                <Label text=" Cr. " *ngIf="(transactionData$ | async)?.forwardedBalance.amount > (transactionData$ |
                        async)?.closingBalance.amount" marginTop="3"></Label>
                <Label text="{{ diffTotal | number: '1.0-2' }}" marginTop="3"></Label>
                <Label text=" Dr. " *ngIf="(transactionData$ | async)?.closingBalance.amount > (transactionData$ |
                        async)?.forwardedBalance.amount" marginTop="3"></Label>
            </FlexboxLayout>
            <Label text="&#xf061;" fontFamily="FontAwesome" marginLeft="3" verticalAlignment="center"></Label>
        </StackLayout>

        <FlexboxLayout class="pull-right">
            <Label text="Cr. " *ngIf="(transactionData$ | async)?.closingBalance.type === 'CREDIT'"
                   marginTop="7"></Label>
            <Label class="num-bold"
                   text="{{ (transactionData$ | async)?.closingBalance.amount  | number: '1.0-2'}}"></Label>
            <Label text=" Dr." *ngIf="(transactionData$ | async)?.closingBalance.type === 'DEBIT'"
                   marginTop="7"></Label>
        </FlexboxLayout>

    </FlexboxLayout>

    <!--credit / debit tab-->
    <GridLayout rows="auto" columns="*,*" backgroundColor="#D2D2D4">
        <StackLayout class="tab-button" row="0" col="0" borderBottomWidth="1" borderTopWidth="1"
                     borderLeftWidth="1" borderRightWidth="1" borderColor="#D2D2D4"
                     [ngClass]="{'active-tab': activeTab === 'debit'}"
                     (tap)="toggleActiveTab()">
            <Label text="Debit"></Label>
        </StackLayout>
        <StackLayout class="tab-button" row="0" col="1" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1"
                     borderRightWidth="1" borderColor="#D2D2D4" [ngClass]="{'active-tab': activeTab === 'credit'}"
                     (tap)="toggleActiveTab()">
            <Label class="pull-right" text="Credit"></Label>
        </StackLayout>

    </GridLayout>

    <!--balance understanding tax debit-->
    <GridLayout rows="auto,auto" borderLeftWidth="1" borderRightWidth="1"
                borderColor="#D2D2D4" padding="10" *ngIf="activeTab === 'debit'">
        <StackLayout row="0">
            <Label class="text-color font-18" text="{{ ledgerUnderStandingObj.text.dr }}"></Label>
        </StackLayout>
    </GridLayout>

    <GridLayout rows="auto" columns="*,2*,*" class="font-18" borderLeftWidth="1" borderRightWidth="1"
                borderColor="#D2D2D4">

        <StackLayout padding="7" row="0" col="0">
            <Label></Label>
        </StackLayout>
        <StackLayout padding="7" row="0" col="1">
            <Label text="B/F" marginRight="20" class="pull-right"></Label>
        </StackLayout>
        <StackLayout padding="10" row="0" col="2">
            <Label text="{{ (transactionData$ | async)?.forwardedBalance.amount | number: '1.0-2'}}"></Label>
        </StackLayout>
    </GridLayout>

    <!--balance understanding tax credit-->
    <GridLayout rows="auto" borderBottomWidth="1" borderLeftWidth="1" borderRightWidth="1"
                borderColor="#D2D2D4" *ngIf="activeTab === 'credit'">
        <StackLayout row="1" padding="10" class="text-color font-18">
            <Label text="{{ ledgerUnderStandingObj.text.cr }}" class="pull-right"></Label>
        </StackLayout>
    </GridLayout>

    <!--transactions-->
    <FlexboxLayout flexDirection="column">
        <!--debit transactions-->
        <ng-container *ngIf="activeTab === 'debit'">
            <GridLayout rows="auto" columns="*,2*,*" borderBottomWidth="1" borderLeftWidth="1"
                        borderRightWidth="1" borderColor="#D2D2D4"
                        *ngFor="let txn of (transactionData$ | async)?.debitTransactions" class="font-16">
                <StackLayout col="0" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <Label text="{{ txn.entryDate | date: 'dd-MM-yy' }}"></Label>
                </StackLayout>
                <FlexboxLayout col="1" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <Label *ngIf="!txn.isCompoundEntry; else compoundED" text="{{ txn.particular.name }}"></Label>
                    <ng-template #compoundED>
                        <Label borderBottomWidth="1" text="{{ txn.particular.name }}"
                               (tap)="openCompoundEntry(txn.entryUniqueName)"></Label>
                    </ng-template>
                </FlexboxLayout>
                <StackLayout col="2" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <FlexboxLayout>
                        <Label text="{{ txn.amount | number: '1.0-2' }}" horizontalAlignment="left"></Label>

                        <StackLayout *ngIf="txn.attachedFileUniqueName.length > 0"
                                     (tap)="downloadAttachedFile(txn.attachedFileUniqueName , $event)"
                                     matTooltip="Download file : {{txn.attachedFileName}}">
                            <Label text="&#xf019;" fontFamily="FontAwesome" fontSize="14"
                                   marginTop="5"></Label>
                            <!--<i class="glyphicon glyphicon-download pull-left" style="font-size:15px;"></i>-->
                        </StackLayout>
                        <StackLayout *ngIf="txn.voucherGenerated"
                                     (tap)="downloadInvoice(txn.voucherNumber, $event)"
                                     matTooltip="Download Invoice : {{txn.voucherNumber}}">
                            <Label text="&#xf019;" fontFamily="FontAwesome" marginTop="5" fontSize="14"></Label>
                        </StackLayout>
                    </FlexboxLayout>

                </StackLayout>
            </GridLayout>
        </ng-container>

        <!--credit transactions-->
        <ng-container *ngIf="activeTab === 'credit'">
            <GridLayout rows="auto" columns="*,2*,*" borderBottomWidth="1" borderLeftWidth="1"
                        borderRightWidth="1" borderColor="#D2D2D4"
                        *ngFor="let txn of (transactionData$ | async)?.creditTransactions" class="font-18">
                <StackLayout col="0" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <Label text="{{ txn.entryDate | date: 'dd-MM-yy' }}"></Label>
                </StackLayout>
                <FlexboxLayout col="1" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <Label *ngIf="!txn.isCompoundEntry; else compoundEC" text="{{ txn.particular.name }}"></Label>
                    <ng-template #compoundEC>
                        <Label borderBottomWidth="1" text="{{ txn.particular.name }}"
                               (tap)="openCompoundEntry(txn.entryUniqueName)"></Label>
                    </ng-template>
                </FlexboxLayout>
                <StackLayout col="2" padding="10" borderRightWidth="1" borderColor="#D2D2D4">
                    <FlexboxLayout justifyContent="space-between">
                        <Label text="{{ txn.amount | number: '1.0-2' }}"></Label>

                        <StackLayout *ngIf="txn.attachedFileUniqueName.length > 0"
                                     (tap)="downloadAttachedFile(txn.attachedFileUniqueName , $event)"
                                     matTooltip="Download file : {{txn.attachedFileName}}">
                            <Label text="&#xf019;" fontFamily="FontAwesome" fontSize="14" marginTop="5"></Label>
                            <!--<i class="glyphicon glyphicon-download pull-left" style="font-size:15px;"></i>-->
                        </StackLayout>
                        <StackLayout *ngIf="txn.voucherGenerated"
                                     (tap)="downloadInvoice(txn.voucherNumber, $event)"
                                     matTooltip="Download Invoice : {{txn.voucherNumber}}">
                            <Label text="&#xf019;" fontFamily="FontAwesome" fontSize="14" marginTop="5"></Label>
                        </StackLayout>
                    </FlexboxLayout>

                </StackLayout>
            </GridLayout>
        </ng-container>

    </FlexboxLayout>
    <!--credit cf balance-->
    <GridLayout rows="auto" columns="*,2*,*" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1"
                borderRightWidth="1" *ngIf="activeTab === 'credit'"
                borderColor="#D2D2D4" class="font-18">
        <StackLayout padding="10" row="0" col="0">
            <Label></Label>
        </StackLayout>
        <StackLayout padding="10" row="0" col="1">
            <Label text="C/F" marginRight="20" class="pull-right"></Label>
        </StackLayout>
        <StackLayout padding="10" row="0" col="2">
            <Label text="{{ (transactionData$ | async)?.closingBalance.amount | number: '1.0-2'}}"></Label>
        </StackLayout>
    </GridLayout>

    <!--debit total-->
    <GridLayout rows="auto" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1" borderRightWidth="1"
                borderColor="#D2D2D4" class="font-18" *ngIf="activeTab === 'debit'">
        <StackLayout row="1" padding="10">
            <Label text="{{ (transactionData$ | async)?.debitTotal | number: '1.0-2' }}" borderBottomWidth="2"
                   class="pull-right"></Label>
        </StackLayout>
    </GridLayout>

    <!--credit total-->
    <GridLayout rows="auto" borderBottomWidth="1" borderTopWidth="1" borderLeftWidth="1" borderRightWidth="1"
                borderColor="#D2D2D4" class="font-18" *ngIf="activeTab === 'credit'">
        <StackLayout row="1" padding="10">
            <Label text="{{ (transactionData$ | async)?.creditTotal | number: '1.0-2' }}" borderBottomWidth="2"
                   class="pull-right"></Label>
        </StackLayout>
    </GridLayout>

    <!--load more button-->
    <GridLayout rows="auto">
        <FlexboxLayout row="0" justifyContent="center" alignItems="center">
            <Button class="btn btn-primary" id="button" text="Load More" (tap)="loadMore()"
                    [isEnabled]="request.page !== totalPages && totalPages !== 0"></Button>
        </FlexboxLayout>
    </GridLayout>

    <GridLayout rows="auto">
        <ActivityIndicator row="0" [busy]="isBusy" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>
    </GridLayout>

</FlexboxLayout>


