<mat-card>
    <mat-card-content>

        <div>
            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                                  (dateRangeChanged)="onDateRangeChanged($event)"
                                  [(ngModel)]="dateModel" required></my-date-range-picker>
        </div>
    </mat-card-content>

</mat-card>

<mat-card>
    <mat-card-content infiniteScroll
                      [infiniteScrollDistance]="2"
                      (scrolled)="loadMore()"
                      [infiniteScrollDisabled]="isTransactionRequestInProcess$ | async">

        <div>
            <div>
                <span>opening</span>
                <span class="pull-right">closing</span>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>
                        <span *ngIf="(transactionData$ | async)?.forwardedBalance.type === 'CREDIT'">Cr. </span>
                        <span
                            class="font-bold">{{ (transactionData$ | async)?.forwardedBalance.amount | number: '1.0-2'}}</span>
                        <span *ngIf="(transactionData$ | async)?.forwardedBalance.type === 'DEBIT'"> Dr.</span>
                    </span>
                </div>
                <div class="col-3 flex-center">

                    <small>
                        <i class="material-icons">
                            remove
                        </i>
                        {{ (transactionData$ | async)?.forwardedBalance.amount > (transactionData$ |
                        async)?.closingBalance.amount ? 'Cr' : '' }}
                        {{ diffTotal | number: '1.0-2' }}
                        {{ (transactionData$ | async)?.closingBalance.amount > (transactionData$ |
                        async)?.forwardedBalance.amount ? 'Dr' : '' }}
                        <i class="material-icons">
                            arrow_right_alt
                        </i>
                    </small>
                </div>
                <div class="col-3">
                    <span class="pull-right">
                        <span *ngIf="(transactionData$ | async)?.closingBalance.type === 'CREDIT'">Cr. </span>
                        <span
                            class="font-bold">{{ (transactionData$ | async)?.closingBalance.amount | number: '1.0-2'}}</span>
                        <span *ngIf="(transactionData$ | async)?.closingBalance.type === 'DEBIT'"> Dr.</span>
                    </span>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">

            <table style="width:100%">
                <tr>
                    <th [ngClass]="{'active': activeTab === 'debit'}" (click)="toggleActiveTab()">Debit</th>
                    <th (click)="toggleActiveTab()" [ngClass]="{'active': activeTab === 'credit'}">
                        <span class="pull-right">Credit</span>
                    </th>
                </tr>

            </table>
            <table style="width:100%;border-top: none;" *ngIf="activeTab === 'debit'">
                <tr>
                    <td style="border-top: none;">
                        <div>
                            <span _ngcontent-c5="">{{ ledgerUnderStandingObj.text.dr }}
                                <!--<span _ngcontent-c5="" class="bold">receiving</span>-->
                            </span>
                        </div>
                        <div>
                            <span class="b-f">B/F</span>
                        </div>


                    </td>
                </tr>
            </table>

            <table style="width:100%;border-top: none;" *ngIf="activeTab === 'credit'">
                <tr>
                    <td style="border-top: none;">
                        <div>
                            <span _ngcontent-c5="" class="pull-right">{{ ledgerUnderStandingObj.text.cr }}
                                <!--<span _ngcontent-c5="" class="bold">giving</span>-->
                            </span>
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table-text">
                <ng-container *ngIf="activeTab === 'debit'">
                    <tr *ngFor="let txn of (transactionData$ | async)?.debitTransactions">
                        <td class="w-20pr">{{ txn.entryDate }}</td>
                        <td>
                            <span *ngIf="!txn.isCompoundEntry; else compoundED">
                                {{ txn.particular.name }}
                            </span>
                            <ng-template #compoundED>
                                <u>{{ txn.particular.name }}</u>
                            </ng-template>
                        </td>
                        <td class="w-20pr">
                            {{ txn.amount | number: '1.0-2' }}
                            <span *ngIf="txn.attachedFileUniqueName.length > 0" style="cursor: pointer"
                                  (click)="downloadAttachedFile(txn.attachedFileUniqueName , $event)"
                                  matTooltip="Download file : {{txn.attachedFileName}}" [matTooltipPosition]="'above'">
                  <i class="glyphicon glyphicon-download pull-left" style="font-size:15px;"></i>
                </span>
                            <span class="download-invoice-ledger" *ngIf="txn.voucherGenerated" style="cursor: pointer"
                                  (click)="downloadInvoice(txn.voucherNumber, $event)"
                                  matTooltip="Download Invoice : {{txn.voucherNumber}}" [matTooltipPosition]="'above'">
                  <mat-icon>cloud_download</mat-icon>
                </span>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="activeTab === 'credit'">
                    <tr *ngFor="let txn of (transactionData$ | async)?.creditTransactions">
                        <td class="w-20pr">{{ txn.entryDate }}</td>
                        <td>
                             <span *ngIf="!txn.isCompoundEntry; else compoundEC">
                                {{ txn.particular.name }}
                            </span>
                            <ng-template #compoundEC>
                                <u>{{ txn.particular.name }}</u>
                            </ng-template>
                        </td>
                        <td class="w-20pr">
                            {{ txn.amount | number: '1.0-2' }}
                            <span *ngIf="txn.attachedFileUniqueName.length > 0" style="cursor: pointer"
                                  (click)="downloadAttachedFile(txn.attachedFileUniqueName , $event)"
                                  matTooltip="Download file : {{txn.attachedFileName}}" [matTooltipPosition]="'above'">
                  <i class="glyphicon glyphicon-download pull-left" style="font-size:15px;"></i>
                </span>
                            <span class="download-invoice-ledger" *ngIf="txn.voucherGenerated" style="cursor: pointer"
                                  (click)="downloadInvoice(txn.voucherNumber, $event)"
                                  matTooltip="Download Invoice : {{txn.voucherNumber}}" [matTooltipPosition]="'above'">
                    <mat-icon>cloud_download</mat-icon>
                </span>
                        </td>
                    </tr>
                </ng-container>
            </table>
            <!-- last-2 row -->
            <table style="width:100%;border-top: none;" *ngIf="activeTab === 'debit'">
                <tr>
                    <td style="border-top: none;">
                        <span class="pull-right">
                            <u>{{ (transactionData$ | async)?.debitTotal | number: '1.0-2' }}</u>
                        </span>
                    </td>
                </tr>
            </table>

            <table style="width:100%;border-top: none;" *ngIf="activeTab === 'credit'">
                <tr>
                    <td style="border-top: none;">

                        <span class="pull-right">60,340</span>
                        <span class="c-f"> C / F </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="pull-right">
                            <u>{{ (transactionData$ | async)?.creditTotal | number: '1.0-2' }}</u>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<button mat-raised-button class="pull-right" color="warn" [disabled]="totalPages === 0 || (request.page === totalPages)"
        (click)="loadMore()">Load More
</button>

<mat-card *ngIf="isTransactionRequestInProcess$ | async">
    <div style="display: flex;justify-content: center;align-items: center;">
        <mat-progress-spinner
            [color]="'primary'"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>
</mat-card>
