@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";
@import "~ladda/css/ladda";
@import "~font-awesome/css/font-awesome.css";


// Lato Fonts

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('./fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('./fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GiddhIcons';
    src: url('./fonts/GiddhIcons.ttf') format('truetype');
}


// Giddh Icons

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'GiddhIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-company-profile:before {
    content: "\e900";
  }
  .icon-taxes:before {
    content: "\e901";
  }
  .icon-trail-balance:before {
    content: "\e902";
  }
  .icon-dashboard:before {
    content: "\e903";
  }
  .icon-filter:before {
    content: "\e904";
  }
  .icon-home:before {
    content: "\e905";
  }
  .icon-logout:before {
    content: "\e906";
  }
  .icon-permission-icon:before {
    content: "\e907";
  }
  .icon-report:before {
    content: "\e908";
  }
  .icon-sales-invoice:before {
    content: "\e909";
  }
  .icon-pur-invoice:before {
    content: "\e90a";
  }
  .icon-settings:before {
    content: "\e90b";
  }
  .icon-check-box--:before {
    content: "\e90c";
  }
  .icon-check-box:before {
    content: "\e90d";
  }
  .icon-currencies:before {
    content: "\e910";
  }
  .icon-arrow:before {
    content: "\e91a";
  }
  .icon-menu:before {
    content: "\e91b";
  }
  




body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
*{
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.half-width-container {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 50%
}

.active {
    background-color: #f7ecf4;
}

.main_card {
    padding: 15px;
    background-color: #FAFAFA;
    min-height: 100vh;
    min-height: calc(100vh - 86px);
}

.analytics-card{
    margin-bottom: 15px;
    padding: 0 15px !important;
}
.filter-dialog{
    .mat-dialog-container{
        padding: 0;
        max-height: 90vh;
    }
    .custom-date-block{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/FontAwesome.ttf');
}

@font-face {
    font-family: '1515160234';
    src: url('./fonts/1515160234.ttf');
}

.customFont {
    font-family: '1515160234';
}
.mat-drawer-content {
    overflow: hidden;
}

.roted-logo{
    height: 50px;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: roted  1s infinite linear;
}

@-webkit-keyframes roted {
    0%{transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

@keyframes roted{
    0%{transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

.mydrp .mydrpicon{
    font-family: mydaterangepicker !important;
}

.custom-date-title{
    margin: 0 -8px;
    .mat-card-title{
        font-size: 16px;
        color: #468ECC;
        margin-bottom: 5px;
    }
}
.taxes-card{
    padding: 0 !important;
    .mat-nav-list{
        padding-top: 0;
    }
    .mat-card-footer{
        margin: 0 0 16px 0;
    }
}
.form-card{
    .half-width-container{
        margin: 0 -10px;
    }
    .half-width {
        padding: 0 10px;
        .mat-form-field-infix {
           width: auto;
           padding-top: 12px;
       }
    }
    .mat-form-field-underline{
        background-color: #E6E6E6;
    }
    .mat-form-field:not(.mat-input-invalid){
        .mat-form-field-label{
            mat-label{
                color: #333333;
            }
        }
    }
    .mat-form-field-label{
        mat-label{
            font-size: 16px;
            font-weight: 700;
        }
    }
    .mat-card-footer{
        margin-bottom: 0;
    }
}
.giddh-fab-btn{
    &.mat-fab{
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

.list-card {
    min-height: calc(100vh - 86px);
    &.mat-card{
        padding: 0;
    }
    .mat-nav-list {
        padding-top: 0;
        .mat-list-item {
            padding: 0 15px;
            .mat-list-item-content {
                padding: 0;
                border-bottom: 1px solid #f1f1f1;
            }
        }
    }
}
.giddh-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background: rgba(0,0,0,0.4);
    img{
        height: 70px;
    }
}
.giddh-chart-grand-amount{
    font-size: 18px;
    display: block;
}
.giddh-chart-amount-label{
    font-size: 14px;
    color: #808080;
    // margin-top: 5px;
    display: block;
}
.giddh-chart-wrap{
    margin-bottom: 30px;
}
.giddh-chart{
    position: relative;
    z-index: 9;
    .highcharts-container{
        overflow: visible !important;
    }
}
// @media(max-width: 480px){
//     .filter-dialog{
//         .custom-date-block{
//             justify-content: 
//         }
//     }    
// }